body{
    background-color: white;
}
*{
    margin:0;
    padding:0;
}
body{
    font-family:Arial, sans-serif;
    line-height:1.6;
    color:#0f0e0e;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:white;
}

.logo h2{
    color:white;
}
nav ul{
    display:flex;
    list-style:none;
}
nav ul li{
    margin:0 15px;
}
nav ul li a{
    text-decoration:none;
    color:gray;
    font-weight: 500;
}
nav button{
    background: #1D4ED8;
    color:white;
    border:none;
    padding:10px 30px;
    border-radius:6px;
    cursor:pointer;
}
nav button:hover{
    background:#1D4ED8;
}
.hero{
    height:600px;
    background:
        linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
        url("assets/banner.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.hero-content{
    color:white;
}
.hero h1{
    font-size:60px;
    margin-bottom:20px;
}
.hero p{
    width:700px;
    max-width:90%;
    margin:auto;
    margin-bottom:30px;
    font-size:18px;
}
.hero button{
    padding:15px 35px;
    background:#1D4ED8;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
    transform:translateY(115px);
}
.speakers{
    padding:80px;
    text-align:center;
    font-family:"Inter";
}
.speakers h2{
    margin-bottom:40px;
    font-size:36px;
    font-family:'Inter', sans-serif;
    font-weight:800;
}
    

.speaker-grid{
    display:grid;
    grid-template-columns:repeat(2, minmax(0, 644px));
    gap:30px;
    justify-content:center;
}
.speaker-card{
    width:100%;
    height:420px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
    padding:20px;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    text-align:left; 
    overflow:hidden; 
}
.speaker-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
}
.speaker-card small{
    color:#2563EB;
   
    font-family: 'inter';
    font-weight:600;
    display:block;
    margin-top:15px;
}
.speaker-card p{
    font-family:'inter';
    font-weight:400;
    color:#575756;
}
.speaker-card h3{
    margin:10px 0;
  
}
.pricing{
    padding:40px 80px 70px;
    text-align:center;
    font-family:'inter', sans-serif;
}
.pricing h2{
    font-size:48px;
    margin-bottom:10px;
    color: #0D1B2A;
    font-family:'inter', sans-serif;
    font-weight:800;
}
.pricing p{
    margin-bottom:35px;
    color:rgb(82, 81, 81);
    font-family:'Inter', sans-serif;
    font-weight:600;
}
.pricing-grid{
    display:flex;
    justify-content:center;
    gap:25px;
}
.plan{
    width:310px;
}

.card{
    height:380px;
    padding:25px;
    background:white;
    border:1px solid #e5e7eb;
    border-radius:8px;
    text-align:left;
    display:flex;
    flex-direction:column;
    font-family:'Inter', sans-serif;
}
.card p{
    color:#6B7280;
    padding-bottom:15px;
    margin-bottom:20px;
    border-bottom:1px solid #E5E7EB;
    font-family:'Inter', sans-serif;
}
.featured .card{
    background:#0D1B2A;
    color:white;
    border:none;
}
.card h1,
.card p,
.card li{
    color:#333333;
}.card h3{
    color:#888888;
}
.featured .card h1,
.featured .card h3,
.featured .card p,
.featured .card li,
.featured .card span{
    color:#888888;
}
.featured .card h3{
    color:#93c5fd;
}
.featured .card h1{
    color:white;
}
.plan:last-child .card button{
    background:white;
    color:#888888;
    border:1px solid #888888;
    font-family:'Inter', sans-serif;
    font-weight:600;
}

.card button{
    width:100%;
    height:42px;
    margin-top:auto;
    background:white;
    color:#2563EB;
    border:1px solid #2563EB;
    border-radius:6px;
}.card h1{
    color:black;
    font-family:'Inter', sans-serif;
    font-weight:800;
}
.card h3{
    font-family:'Inter', sans-serif;
    font-weight:800;
}

.featured .card button{
    background:#2563EB;
    color:white;
    border:none;
}

.schedule{

    padding:80px;
    background:#0F172A;
    text-align:center;

}
.schedule h2{

    font-size:36px;
    color:white;

}
.schedule p{

    color:#CBD5E1;
    margin:15px 0 50px;

}
.schedule-wrapper{

    display:flex;
    justify-content:center;
    gap:35px;

}
.schedule-day{

    width:330px;
    padding:35px;

    border-top:5px solid #2563EB;

    background:#FFFFFF;

    text-align:left;

    border-radius:12px;

}
.schedule-day h3{

    font-size:28px;
    color:#0F172A;

}
.schedule-day span{

    color:#2563EB;
    font-weight:600;

}
.schedule-day div{

    margin-top:25px;
    padding-bottom:15px;

    border-bottom:1px solid #E2E8F0;

    color:#475569;

}
.schedule-day b{

    display:block;
    color:#0F172A;
    margin-bottom:5px;

}
footer{
    background:rgb(247,243,243);
    color:#4E4D4D;
    padding:40px 80px 20px;
    text-align:center;
}
.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:40px;
}
.brand{
    display:flex;
    align-items:center;
    gap:15px;
}
.brand img{
    width:45px;
    height:45px;
}
.brand h2{
    font-size:24px;
    color:#4E4D4D;
}
.footer-links,
.footer-contact{
    text-align:left;
}
.footer-links h3,
.footer-contact h3,
.social h3{
    color:#0D1B2A;
    font-size:18px;
    margin-bottom:18px;
    font-weight:600;
}
.footer-links ul,
.footer-contact ul{
    list-style:none;
    padding:0;
    margin:0;
}
.footer-links li,
.footer-contact li{
    color:#333333;
    margin-bottom:12px;
    font-size:15px;
}
.footer-links a{
    text-decoration:none;
    color:#333333;
    transition:.3s;
}
.footer-links a:hover{
    color:#1D4ED8;
    padding-left:5px;
}
.social{
     display:flex;
     align-items:center;
     gap:15px;
     text-align:left;
    white-space:nowrap;
}
.social h3{
    margin:0;
    white-space:nowrap;
    font-size:18px;
}
.social a{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:38px;
    height:38px;
    color:#333333;
    font-size:20px;
    border:1px solid #ddd;
    border-radius:50%;
    transition:.3s;
}

.social a:hover{
    color:#1D4ED8;
    border-color:#1D4ED8;
    transform:translateY(-3px);
}

footer hr{
    margin:35px 0 20px;
    border:0;
    border-top:1px solid #ddd;
}

footer p{
    color:#333333;
    font-size:15px;
    margin:0;
}
.footer-contact li{
    max-width:260px;
    line-height:1.6;
}